<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">SneakerHeads</a>
    <div class="d-flex flex-row">
      <form class="d-flex flex-row me-5">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <%= authentication_helper %>
    </div>
  </div>
</nav>
