<h1>All Sneakers</h1>
<% @sneakers.each do |sneaker| %>
  <p><%= sneaker.name %></p>
  <p><%= sneaker.model %></p>
  <p><%= sneaker.price %></p>
  <%= link_to "Show Sneaker", sneaker_path(sneaker) %>
  <hr>
<% end %>
